<div class="toolbar">
	<div class="firebase-logo">
		<img src="assets/firebase-logo.png" alt="profile">
	</div>
	<velt-comments shadow-dom="false"></velt-comments>
	<velt-comment-tool shadow-dom="false"></velt-comment-tool>
	<velt-huddle shadow-dom="false"></velt-huddle>
	<velt-huddle-tool shadow-dom="false"></velt-huddle-tool>
	<velt-comments-sidebar shadow-dom="false"></velt-comments-sidebar>
	<velt-comments-sidebar-button shadow-dom="false"></velt-comments-sidebar-button>
	<div class="profile-photo">
		<img
			src="https://firebasestorage.googleapis.com/v0/b/velt-demo/o/Penguin_upscaled.png?alt=media&token=99336bbb-5a9d-4600-b079-ab0e2e0600fb"
			alt="profile">
	</div>
	<div class="kebab-menu">
		<button class="kebab-button" [cdkMenuTriggerFor]="menu" aria-label="More options" type="button">⋮</button>
	</div>
	<ng-template #menu>
		<div cdkMenu class="menu-panel">
			<button cdkMenuItem type="button" class="menu-item" (click)="onMenuAction('settings')">Settings</button>
			<button cdkMenuItem type="button" class="menu-item" (click)="onMenuAction('help')">Help</button>
			<button cdkMenuItem type="button" class="menu-item" (click)="onMenuAction('signout')">Sign out</button>
		</div>
	</ng-template>
</div>